h1{
    text-align: center;
}

.drawings{
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    width: 100vw;
}

#container{
    display: flex;
    align-content: center;
    align-items: center
}
#content{
    display: flex;
    align-content: center;
    align-items: center;
}
.drawings a{
    padding: 15px;
}

img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
.banner{
    text-align: center;
}
a {
    margin-left: auto;
    margin-right: auto;
}
/* to have buttons */

.btn-group a{
    background-color: skyblue; /* Green background */
    border: 1px solid black; /* Green border */
    color: white; /* White text */
    padding: 20px 112px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

.btn-group a:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group a:hover {
    background-color: blue;
}



/* .column {
    float: left;
    width: 10%;
    padding: 20px;
} */

/* .row:after {
    content: "";
    clear: both;
    display: table;
} */