/* to have buttons */

.btn-group a {
    background-color: skyblue; /* Green background */
    border: 1px solid black; /* Green border */
    color: white; /* White text */
    padding: 20px 112px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

.btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group a:hover {
    background-color: blue;
}

h1{
    text-align: center;
}

.corps{
    background-size: cover;
    background-image: url("390126_conquestus_sky-daytime.jpg");
    margin-left: 170px;
    margin-right: 170px;
    font-size: 20px;

}
.banner{
    text-align: center;
}
.container{
    text-align: center;
}